*{
    margin:0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 80px;
    background-color: #0f1111;
    color: white;
    display:flex;

}

.nav-logo{
    height:70px;
    width:100px;
}

.logo{
    background-image: url("61zYzaUw31L.png");
    background-size: cover;
    height:70px;
    width:100%;
}
.border{
    border: 1px solid transparent
}
.border:hover{
    border: 1px solid white;
}
.add-first{
    color: #cccccc;
}
.add-second{
    color:white;
}